<template>
    <div id="playContainer">
      <span>
        <h1>Greetings {{this.$route.params.playerName}}</h1>
        
        <div class="player">
          <h5>Yer cards</h5>
          <ul v-if="game !== null" class="cardset">
            <li @click="flipValue(card)" v-for="card in playerCards" :key="card.code">
              <img :src="card.image" :alt="card.code" />
              <p>{{card.userValue}}</p>
            </li>
          </ul>
        </div>
        
        <div class="dealer">
          <h5>Dealer's cards</h5>
          <ul v-if="game !== null" class="cardset">
            <li v-for="card in visibleDealerCards" :key="card.code" >
                <img :src="card.image" :alt="card.code" />
                <p>{{card.userValue}}</p>
              </li>
          </ul>
        </div>
        <div v-if="!gameFinished" id="buttons">
          <div class="uiButton" @click="playerDraw">Draw</div>
          <div class="uiButton" @click="playerStand">Stand</div>
        </div>
        <div v-else id="results">
          {{ message }}
          <div @click="newGame" class="uiButton">Go again!</div>
        </div>
      </span>
    </div>
</template>

<script>
import { buildBlackjack } from '../blackjack.js'

function newGame() {
  window.location.reload()
}

function flipValue(card) {
  if (card.value !== 'ACE') return
  this.valueChanged = true
  card.userValue = card.userValue === 1 ? 11 : 1
}
async function playerDraw() {
  await this.game.playerDraw()
}

async function playerStand() {
  this.gameFinished = true
  this.dealerCards[0].is_visible = true
  const valueDealerStopsAt = 17
  while(this.game.totalValue(this.dealerCards) < valueDealerStopsAt) {
    // Check if we can win by flipping any aces
    await this.game.dealerDraw()
  }

  // Victory conditions
  const dealerTotal = this.game.totalValue(this.dealerCards)
  const playerTotal = this.game.totalValue(this.playerCards)
  
  const winner = this.game.evaluateWinner(dealerTotal, playerTotal)

  if (winner === -1) {
    this.message = `You lost, as expected.`
  }
  else if (winner === 1) {
    this.message = `You won... this time.`
  }
  else {
    this.message = `Sigh, 'tis but a tie.`
  } 

  this.message += ` Dealer: ${dealerTotal}. You: ${playerTotal}`
}

export default {
  async created() {
    this.game = await buildBlackjack()
    this.playerCards = [...this.game.player.cards]  
    this.dealerCards = [...this.game.dealer.cards]

    if (this.game.totalValue(this.playerCards) === 11 && this.playerCards.map(c => c.value).includes('ACE')) {
      this.message = 'You won with BLACKJACK!'
      this.gameFinished = true
    }
  },
  computed: {
    visibleDealerCards() {
      return this.dealerCards.filter(card => card.is_visible)
    }
  },
  watch: {
    game: {
      handler() {
        if (this.valueChanged) {
          this.valueChanged = false
          return
        }
        if (this.game.player.cards.length !== this.playerCards.length) {
          this.playerCards.push(...this.game.player.cards[this.game.player.cards.length-1])
        }
        if (this.game.dealer.cards.length != this.dealerCards.length) {
          this.dealerCards.push(...this.game.dealer.cards[this.game.dealer.cards.length-1])
        }
      },
      deep: true
    }
  },
  methods: {
    playerDraw,
    playerStand,
    flipValue,
    newGame
  },
  data() {
    return {
      valueChanged: false,
      game: null,
      dealerCards: [],
      playerCards: [],
      message: '',
      gameFinished: false
    }
  }
}
</script>

<style>
#playContainer {
  display: flex;
  justify-content: center;
}
#playContainer > span{
  width: 80%;
}

#buttons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
#buttons > div:first-child {
  margin-right:1em;
}

#results {
  margin-top: 1em;
}

#results div {
  margin-top: 1em;
}
h1 {
  margin-top: 0.2em;
  margin-bottom: 1em;
}

h5{ 
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 110%;
}
img {
  width: 50px;
  -webkit-box-shadow: 4px 5px 5px -2px #000000; 
box-shadow: 4px 5px 5px -2px #000000;
}

.player {
  border: 1px solid black;
  background-color: rgb(136, 199, 136);
  margin-bottom: 2em;
}

.player h5 {
  background-color: rgb(178, 224, 178);
  border-bottom: 1px solid black;
}

.dealer {
  border: 1px solid black;
  background-color: rgb(221, 123, 123);
}

.dealer h5 {
  background-color:rgb(223, 156, 156);
  border-bottom: 1px solid black;
}

ul.cardset {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-left: 10em;
  margin-right: 10em;
  flex-wrap: wrap;
}

ul.cardset li {
  margin-right: 1em;
}
</style>