<template>
  <div id="startContainer">
    <span>
    <input v-focus type="text" @keyup.enter="startGame" placeholder="Your name" v-model="playerName" />
    <div class="uiButton" @click="startGame">START</div>
    </span>
  </div>
</template>

<script>
function startGame() {
  if (this.playerName.trim() === '') {
    alert('Please provide a name')
    return
  }

  this.$router.push(`/play/${this.playerName}`)
}

export default {
  name: 'Start',
  methods: {
    startGame,
  },
  data() {
    return {
      playerName: ''
    }
  }
}
</script>

<style scoped>
#startContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

input {
  margin-bottom: 1em;
  text-align: center;
  padding: 0.2em;
  border-radius: 0.4em;
}
</style>
